// LOGIN
#login-style {
    p.welcome{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn-primary{
        background-color: #ff395d;
        border: #ff395d;
        width: 150px;
    }

    a {
        color: black;
    }

    button.btn-link {
        border: 1px solid black;
        color: black;
        width: 80%;
        border-radius: .5rem;
        margin: .6rem 0;
    }

}

// REGISTER
#register-style {
   .btn-primary{
       background-color: #ff395d;
       border: #ff395d;
       width: 150px;
   }
}

// APP
#app-style {
   a.title {
       color: #ff395d;
   }

   a:hover {
       color: #ff395d;
   }

   i {
       color: #ff395d;
       font-size: 1.9rem;
   }
}


// EDIT
#edit-accomodations {

    background-color: rgba(255, 57, 93, .3);
    border-radius: 15px;
   .title-edit {
      font-size: 35px;
      font-weight: 100;
      font-weight: bold;
   }

}

#label-edit {
   font-weight: 100;
   font-size: 15px;
   font-weight: bold;
}

#btn-edit {
   float: left;
   width: 150px;
   height: 42px;
   border: 1px solid #ff395d;
   margin: 0 0 3px 0;
   color: #fff;
   font-weight: bold;
   background-color: #ff395d;
   font-size: 14px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

#btn-edit:hover {
    background-color: #fff;
    color: #ff395d;
}

// DASHBOARD
#dashboard-style {

    .nav-title{
        color: #ff395d;
        font-size: 1.4rem;
    }

    .nav-logout {
        color: black;
    }

    .container-fluid li a {
        color: black;
    }

    .container-fluid li:hover a {
        color: #ff395d;
    }
}

// INDEX
#index-style {

    a {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    a:hover {
        color: #ff395d;
        background-color: #fff;
    }

    h2 {
        text-transform: uppercase;
    }
}

// SHOW
#show-style {
    // background-color: rgba(255, 57, 93, .3);
    display: flex;
    justify-content: space-evenly;

    .description {
        padding-top: 2rem;

        p {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;
            font-weight: bold;
        }

        h4 {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;
            font-weight: bold;
        }

        h5 {
            border: 1px solid #18c518;
            border-radius: 5px;
            padding: .5rem;
            background-color: #18c518;
        }
    }

    h2 {
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    a:hover {
        background-color: #fff;
        color: #ff395d;
    }

    button {
        background-color: black;
        border: 1px solid black;
    }

    button:hover {
        background-color: #fff;
        color: black;
    }

    .picture {
        
        img {
            border-radius: 15px;
        }

        .vote {
            i {
                font-size: 1.3rem;
                color: #ff395d;
            }
        }
    }
}

// CREATE
#create-style {

    h2 {
        text-transform: uppercase;
        font-weight: bold;
    }

    button {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    button:hover {
        background-color: #fff;
        color: #ff395d;
    }
}