// LOGIN
#login-style {
    p.welcome {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn-primary {
        background-color: #ff395d;
        border: #ff395d;
        width: 150px;
    }

    a {
        color: black;
    }

    button.btn-link {
        border: 1px solid black;
        color: black;
        width: 80%;
        border-radius: .5rem;
        margin: .6rem 0;
    }

}

// REGISTER
#register-style {
    .btn-primary {
        background-color: #ff395d;
        border: #ff395d;
        width: 150px;
    }
}

// APP
// #app-style {
//     a.title {
//         color: #ff395d;
//     }

//     a:hover {
//         color: #ff395d;
//     }

//     i {
//         color: #ff395d;
//         font-size: 1.9rem;
//     }
// }

header {
    border-bottom: 1px solid lightgray;
    height: 80px;
    line-height: 40px;
    margin-bottom: 2rem;

    .ms_title {
        color: #ff385d;
        font-size: 1.2rem;
        margin-left: 0.4rem;
    }

    i {
        color: #ff395d;
        font-size: 1.5rem;
    }

    // .ms_auth {
    //     color: rgba($color: #000000, $alpha: .5);

    // }

    // .ms_auth:hover {
    //     color: #ff395d;
    // }
}


// EDIT
#edit-accomodations {

    background-color: #FAF6F6;
    border-radius: 15px;

    .title-edit {
        font-size: 35px;
        font-weight: 100;
    }
    #suggestions-container {
        z-index: 1;
    }

}

#label-edit {
    font-weight: 100;
    font-size: 15px;
    font-weight: bold;
}

#btn-edit {
    float: left;
    width: 150px;
    height: 42px;
    border: 1px solid #ff395d;
    margin: 0 0 3px 0;
    color: #fff;
    font-weight: bold;
    background-color: #ff395d;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#btn-edit:hover {
    background-color: #fff;
    color: #ff395d;
}

// DASHBOARD
#dashboard-style {

    .nav-title {
        color: #ff395d;
        font-size: 1.4rem;
    }

    .nav-logout {
        color: black;
    }

    .container-fluid li a {
        color: black;
    }

    .container-fluid li:hover a {
        color: #ff395d;
    }
}

// INDEX
#index-style {

    a {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    a:hover {
        color: #ff395d;
        background-color: #fff;
    }
}

// SHOW
#show-style {

    .description {
        padding-top: 2rem;

        p {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;
            font-weight: bold;
        }

        h4 {
            border: 1px solid black;
            border-radius: 5px;
            padding: .5rem;
            font-weight: bold;
        }

        h5 {
            border: 1px solid #6cdd9d;
            border-radius: 5px;
            padding: .5rem;
            background-color: #c6ecd6;
        }
    }

    h2 {
        font-weight: bold;
    }

    a {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    a:hover {
        background-color: #fff;
        color: #ff395d;
    }

    button {
        background-color: black;
        border: 1px solid black;
    }

    button:hover {
        background-color: #fff;
        color: black;
    }

    .picture {

        img {
            border-radius: 15px;
            width: 100%;
            height: 450px;
            object-fit: cover;
        }

        .vote {
            i {
                font-size: 1.6rem;
                color: #ff395d;
            }
        }
    }
}

// CREATE
#create-style {
    button {
        background-color: #ff395d;
        border: 1px solid #ff395d;
    }

    button:hover {
        background-color: #fff;
        color: #ff395d;
    }

    #suggestions-container {
        z-index: 1;
    }
}

.w-85 {
    width: 85%;
}

.card {
    &-img-top {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}